body{
    background-color: red;
}
h1{
    background-color: blue;
}
h2{
    background-color: yellow;
}
ul{
    background-color: purple;
}
img{
    background-color: gold;
}
table{
    background-color: aqua;
}