body{
    background-color: rgba(0, 0, 255, 0.603);
}
h1 {
    background-color: rgb(247, 247, 165);
    text-align: center;
    width: 98%; /* Ancho menor a 100%  */
    border: 3px solid rgb(38, 138, 219);
    padding: 10px;
  }
  h2{
      background-color: rgb(152, 46, 250);
      text-align: left;
      width: 98%; /* Ancho menor a 100%  */
      border: 3px solid rgb(38, 138, 219);
      padding: 10px;
  }

  ul{
      background-color: rgb(152,46,250);
      width: 30%; /* Ancho menor a 100%  */
      border: 5px solid rgb(38, 138, 219);
      padding: 15px;
      
  }

